html,body, #root, .App {
    height:-webkit-fill-available;
}

.layout {
    height: inherit;
}

.logo {
    color: white;
}

.uploadFiles {
    background-color: white;
    padding: 50px;
    text-align: center;
}

.appContent {
    margin-top: 100px;
}

.ant-upload-list-item-progress,
.ant-upload-list-item-thumbnail {
    display: none;
}